Babel==2.3.4
debtcollector==1.5.0
decorator==4.0.10
eventlet==0.19.0
funcsigs==1.0.2
greenlet==0.4.10
msgpack-python==0.4.7
netaddr==0.7.18
networkx==1.11
numpy==1.11.1
oslo.config==3.12.0
oslo.i18n==3.7.0
pbr==1.10.0
pytz==2016.4
repoze.lru==0.6
requests==2.10.0
rfc3986==0.3.1
Routes==2.3.1
ryu==4.4
scipy==0.17.1
six==1.10.0
stevedore==1.15.0
WebOb==1.6.1
wrapt==1.10.8
